        /*CABECALHO*/

.cabecalhoPrincipal .container {    
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;

}

        /*FOOTER/RODAPE/CONTATO*/
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 75%;    
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/*RODAPE-INFORMATIVO-MAPA DE CURSOS*/

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap; /* forma abreviada de:
      flex-direction: column;
     flex-wrap: wrap;*/
    height: 250px;    
}

/*CONTEUDO PRINCIPAL / MAIN */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;

}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}



/*PARTE MOBILE*/
@media(max-width: 768px){

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        align-items: initial;
        flex-direction: column;
        text-align: center;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;    
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-video {
        margin: 0 auto;
    }

}    